In [1]:
y = set()

In [2]:
y.add(1)

In [3]:
y

{1}

In [4]:
y.add(2)

In [5]:
y

{1, 2}

In [7]:
y.add(2)

In [8]:
y

{1, 2}

In [10]:
l = [1,1,1,1,2,3,44,4,4,4,4,4,5,5,5,5,5,5,5,1,1,1,6,7,8,8,8,8,8,7,7,7,7,73,3,3,32,2,2,2,9,10,10,10,10,9,9,9,10]

In [12]:
a = set(l)

In [14]:
print (a)

{32, 1, 2, 3, 4, 5, 6, 7, 8, 73, 9, 10, 44}

In [15]:
b = True

In [16]:
b

True

In [17]:
1 > 2

False

In [18]:
a = b

In [20]:
3 < 4

True

In [21]:
c = False
c

False

In [22]:
dc = {'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [23]:
dc['key2']

'value2'

In [24]:
dc = {'key1': 'value1', 'key2': [1,2,3,4,5,6], 'key3': "I am a string", 'key4': {a,b,c}, 'key5': ['apple', 35, 'mangoes', 55] }

In [25]:
dc['key2']

[1, 2, 3, 4, 5, 6]

In [26]:
dc['key2'][3]

4

In [27]:
dc['key3'].upper()

'I AM A STRING'

In [33]:
dc1 = {'anything1': 666}
dc2 = {'anything2': 246}

In [34]:
dc1['anything1']

666

In [35]:
dc2['anything2']

246

In [44]:
dc3 = {}

In [45]:
dc3['anything1'] = dc2['anything2'] - 5

In [46]:
dc

{'key1': 'value1',
 'key2': [1, 2, 3, 4, 5, 6],
 'key3': 'I am a string',
 'key4': {False, True},
 'key5': ['apple', 35, 'mangoes', 55]}

In [36]:
dc1['anything1'] = dc2['anything2'] - 123

In [37]:
dc1['anything1']

123

In [38]:
d = {}

In [39]:
d['animal'] = "Dog"

In [40]:
d['breed'] = "Labrador"

In [41]:
d['name'] = 'Tommy'

In [53]:
d

{'animal': {'dog': {'labrador': 'Tommy'}}}

d = {'animal': {'dog': {'labrador': 'Tommy'}}}

In [49]:
d = {'animal': {'dog': {'labrador': 'Tommy'}}}

In [50]:
d

{'animal': {'dog': {'labrador': 'Tommy'}}}

In [52]:
d['animal']['dog']['labrador']

'Tommy'

In [54]:
j = {'key1': 1, 'key2': 2, 'key3': 3}

In [55]:
j.keys()

dict_keys(['key1', 'key2', 'key3'])

In [56]:
j.values()

dict_values([1, 2, 3])

In [57]:
j.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])